{% extends 'web/index_base.html' %}
{% load static %}
{% block title %}
{{ title }}
{% endblock %}
{% block header %}
{% for x in content %}
    <h1> {{ x.h1 }} </h1>
    <h2> {{ x.h2 }}</h2>
    <p> {{ x.text }}</p>
{% endfor %}

{% endblock %}
 {% block form %}
     <p>
     {% for x in ut %}
     <input type="button" onclick="window.open('{{ x.url }}', '_blank')" value="{{ x.name }}" class="primary"/>
     {% endfor %}

 {% endblock %}
{% block socials %}
{% for x in socials %}
<li><a href="{{ x.url }}" class="icon brands fa-{{ x.html }}"><span class="label">{{ x.name }}</span></a></li>
{% endfor %}
{% endblock %}
{% block bg %}
    {% for x in bg %}
    "{{ x.img.url }}": 'center',
    {% endfor %}
{% endblock %}



